{% if alignment == blank %} {% assign alignment = "right" %} {% endif %}

<button type="button" class="btn btn--primary btn--small video-pause video-pause--{{ alignment }}" aria-labelledby="video-hero-heading">
  {{ 'general.accessibility.pause' | t }}
</button>
