<style>
  .ts-faqs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 30px 60px;
  }

  .ts-faq {
    border: 1px solid #33333333;
    text-align: left;
    width: 80%;
    padding: 25px;
    position: relative;
    overflow: visible;
    max-width: 800px;
  }

  .ts-faq[open] {
    box-shadow: inset 0 0 15px 5px rgba(243, 200, 207, 0.7);
  }

  .ts-faq svg {
    display: block;
    position: absolute;
    top: 34px;
    right: 15px;
  }

  .ts-faq .dropdown-down {
    display: block; /* Show down arrow by default */
    z-index: 99999;
  }

  .ts-faq .dropdown-up {
    display: none; /* Hide up arrow by default */
  }

  .ts-faq[open] .dropdown-up {
    display: block;
  }

  .ts-faq[open] .dropdown-down {
    display: none;
  } 

  .ts-faq summary::-webkit-details-marker {
    display: none;
  }

  .ts-faq summary::marker {
    display: none;
  }

  .ts-faq-heading {
    font-size: 15pt;
    font-weight: 600;
    list-style: none;
  }

  .ts-faq-body {
    margin-top: 20px;
  }
</style>

<section class="ts-faqs-container">
  <h2>Got Questions? We’ve Got Glow-Answers</h2>
  {% for block in section.blocks %}
    <details class="ts-faq">
      <summary class="ts-faq-heading">
        {{ block.settings.faq-heading }}
        <svg class="dropdown-up" xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12" fill="none">
          <path d="M1.56348 10.0066L9.00011 2.57L16.4367 10.0066" stroke="#333333" stroke-width="2.5" stroke-linecap="round"/>
        </svg>
        <svg class="dropdown-down" xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
          <path d="M1.56348 1.56982L9.00011 9.00642L16.4367 1.56982" stroke="#333333" stroke-width="2.5" stroke-linecap="round"/>
        </svg>
      </summary>
      <p class="ts-faq-body">{{ block.settings.faq-body }}</p>
    </details>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "TS Faqs",
    "settings": [],
    "blocks": [
      {
        "type": "faq",
        "name": "faq",
        "settings": [
          {
            "type": "text",
            "label": "FAQ Heading",
            "id": "faq-heading",
          },
          {
            "type": "richtext",
            "label": "FAQ Body",
            "id": "faq-body",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TS Faqs",
        "blocks": []
      }
    ]
  }
{% endschema %}