/* Typography */
.navigation__submenu-trigger,
.header__links.header__links-primary>ul>li>[data-link],
button,
.btn.btn--primary.btn--overlay,
.btn.btn--secondary,
blockquote, h4 > span,
.testimonials__item-quote,
.section-blocks__heading,.ff-heading  {
font-family: 'gothammedium';
  letter-spacing: -0.03em;
}

.oct-quiz-result-item__pricing s {
  display: none;
}


h2.footer__header,
.footer__heading.fs-accent,
span {
  font-family: 'gothambold' !important;
  letter-spacing: -0.03em;
  display: block;
}


body, p, h3, .ff-body, p>span  {
     font-family: 'gothambook' !important;
    letter-spacing: -0.03em;
}

#BIS_trigger {
    background: black;
    text-transform: uppercase !important;
    color: white;
    padding: 20px;
}

/* End of typography */

button{
  text-transform: uppercase !important;
}


.btn.btn--secondary:hover, .spr-button-primary {
    background: #F3C8CF;
}

#filter-bar-sort > ul > li:nth-child(3) > label > div,
#filter-bar-sort > ul > li:nth-child(4) > label > div,
#filter-bar-sort > ul > li:nth-child(7) > label > div,
#filter-bar-sort > ul > li:nth-child(8) > label > div {
  display: none;
}

.bv_button_buttonMinimalist.bv_war_button, 
.product__color-swatch.dynamic-variant-button.disabled,
#shopify-block-AUzFkOXo3VTM1NmYvV__bazaarvoice_reviews_photos_rating_summary_block_F4aEBB > div > div > div > div:nth-child(2) > div{
  display: none !important;
}

.rc-widget .rc-tooltip__footer .recharge-badge {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 100px;
  padding: 5px 10px;
  margin-left: auto;
  width: fit-content;
  transition: .3s all;
  font-size: 14px;
}

.rc-widget .rc-tooltip__content {
  font-size: 14px;
  transition: .2s all;
}

.rc-widget .rc-tooltip__content .learn-more {
  margin-top: 5px;
}

.rc-widget .rc-tooltip__footer .recharge-badge:hover {
  opacity: .7;
}

.rc-widget .rc-tooltip__footer .recharge-badge svg {
  width: 65px;
}

.rc-widget .rc-radio.rc-radio--active.subscription-radio + .rc-tooltip__content {
  background-color: var(--rc-active-background-color);
  color: var(--rc-active-text-color);
}

.rc-widget .rc-subscription-details {
  display: none !important;
}

.rc-template__radio-group .rc-selling-plans {
  padding: 5px;
}

.rc-template__radio-group .rc-selling-plans select {
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .desktop--hidden {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .mobile--hidden {
    display: none !important;
  }
}
  
#main .announcement-bar__item {
  padding: 10px 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  #main .announcement-bar__item {
    font-size: 14px;
  }
}

.product .tolstoy-stories-title {
  font-family: gothambook !important;
  font-weight: 300 !important;
  font-size: 18px !important;
}