.lp-product-grid {
  position: relative;
  width: 100%;
}

.lp-product-grid__container {
  max-width: 100%;
  margin: 0 auto;
}

.lp-product-grid__heading {
  text-align: center;
  margin-bottom: 40px;
}

.lp-product-grid__heading h2 {
  color: #111;
  text-align: center;
  font-family: gothambold !important;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%; /* 38px */
  letter-spacing: -0.6px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.lp-product-grid__description {
  color: #000;
  text-align: center;
  font-family: gothambook;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.24px;
  max-width: 750px;
  margin: 0 auto;
}

.lp-product-grid__items {
  display: grid;
  grid-template-columns: repeat(var(--columns-desktop, 4), 1fr);
  gap: 24px;
  margin: 0 auto;
}

.lp-product-grid__item {
  position: relative;
  width: 100%;
}

.lp-product-grid--loading-text {
  margin-top: 40px;
  color: #111;
  text-align: center;
  font-family: gothambold !important;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%; /* 38px */
  letter-spacing: -0.6px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .lp-product-grid__items {
    grid-template-columns: repeat(var(--columns-mobile, 2), 1fr);
    gap: 16px;
  }

  .lp-product-grid__heading {
  }

  .lp-product-grid__heading h2 {
    font-size: 40px;
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
  }

  .lp-product-grid__description {
    font-size: 14px;
  }

  .lp-product-grid--loading-text {
    font-size: 28px;
  }
}

